<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align: center">
    <div class="container">
      <div class="row header">
        <div class="col-md-12">
          <a style="color:rgb(0, 140, 255);">World Regions</a>
        </div>
      </div>
      <nav class="navbar navbar-default">
        <div class="container-fluid">
        <!--Brand and toggle get grouped for better mobile display-->
        <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
         <span class="sr-only">Toggle navigation</span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
        </button>
      </div>
      <!--Collect the nav links,forms,and other content for toggling-->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a [routerLink]="['/home']">Regions</a></li>
          <li><a (click)="goBack()">Go Back</a></li>
          
        </ul>
      </div><!--/.navbar-collpase-->
      </div><!--/.container-fluid-->
    </nav>
  </div>
  </div>
  <br/>
  <router-outlet></router-outlet>