<div class="row">
    <div class="col-md-1 col-lg-1 col-xs-3 col-xl-1">
        </div>
  <div class="col-md-3 col-lg-3 col-xs-9 col-xl-4">
<a [routerLink]="['/countries-view/americas']"><img width="300"  src="assets/america.jpg"></a>
</div>
<div class="col-md-1 col-lg-1 col-xs-3 col-xl-1">
  </div>
<div class="col-md-3 col-lg-3 col-xs-9 col-xl-3">
<a [routerLink]="['/countries-view/europe']"><img width="300"  src="assets/europe.jpg"></a>
</div>
<div class="col-md-1 col-lg-1 col-xs-3 col-xl-1">
  </div>
<div class="col-md-3 col-lg-3 col-xs-9 col-xl-4">
 <a [routerLink]="['/countries-view/asia']"><img width="300"  src="assets/asia.png"></a>
 </div>
</div>
<div class="row">
    <div class="col-md-2 col-lg-2 col-xs-3 col-xl-2">
      </div>
 <div class="col-md-4 col-lg-4 col-xs-9 col-xl-4">
<a [routerLink]="['/countries-view/africa']"><img width="300"  src="assets/africa.jpg"></a>
</div>
<div class="col-md-2 col-lg-2 col-xs-3 col-xl-2">
  </div>
<div class="col-md-4 col-lg-4 col-xs-9 col-xl-4">
 <a [routerLink]="['/countries-view/oceania']"><img width="300"  src="assets/oceania.jpg"></a>
 </div>
</div>